NODE_ENV=development
PORT=3001
DATABASE_URL=
DATABASE_PASSWORD=
ROBINHOOD_CHAIN_ID=4663
ROBINHOOD_RPC_URL=https://rpc.mainnet.chain.robinhood.com
SHARD_B_ENCRYPTION_KEY=
USDG_ADDRESS=0x5fc5360D0400a0Fd4f2af552ADD042D716F1d168
JWT_SECRET=
ENTRY_POINT_ADDRESS=0x5FF137D4b0FDCD49DcA30c7CF57E578a026d2789
PAYMASTER_ADDRESS=None
CORS_ALLOWED_ORIGINS=None
BUNDLER_RPC_URL=
